{
  "widgets": [
    {
      "type":"metric",
      "x":0,
      "y":0,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/ELB",
            "RequestCount",
            "LoadBalancerName",
            "${elb_name}"
          ]
        ],
        "period":60,
        "stat":"Sum",
        "region":"${region}",
        "title":"Incoming requests / minute",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":1500
          }
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":8,
      "y":0,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/ELB",
            "Latency",
            "LoadBalancerName",
            "${elb_name}"
          ]
        ],
        "period":60,
        "stat":"Average",
        "region":"${region}",
        "title":"Response latency (seconds)",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":5
          }
        },
        "annotations": {
          "horizontal": [
            {
              "visible":true,
              "color":"#C00000",
              "label":"Slow",
              "value":${slow_latency},
              "fill":"above",
              "yAxis":"left"
            }
          ]
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type": "metric",
      "x": 16,
      "y": 0,
      "width": 8,
      "height": 5,
      "properties": {
        "metrics": [
          [
            "AWS/ElasticBeanstalk",
            "EnvironmentHealth",
            "EnvironmentName",
            "${environment_name}"
          ]
        ],
        "period": 60,
        "stat": "Maximum",
        "region": "${region}",
        "title": "Worst EB environment health",
        "view": "timeSeries",
        "stacked": true,
        "yAxis": {
          "left": {
            "min": 0,
            "max": 25
          }
        },
        "annotations": {
          "horizontal": [
            {
              "visible": true,
              "color": "#00C000",
              "label": "OK",
              "value": 0,
              "yAxis": "left"
            },
            {
              "visible": true,
              "color": "#808080",
              "label": "Info",
              "value": 1,
              "yAxis": "left"
            },
            {
              "visible": true,
              "color": "#808080",
              "label": "Unknown",
              "value": 5,
              "yAxis": "left"
            },
            {
              "visible": true,
              "color": "#808080",
              "label": "No data",
              "value": 10,
              "yAxis": "left"
            },
            {
              "visible": true,
              "color": "#FFA500",
              "label": "Warning",
              "value": 15,
              "yAxis": "left"
            },
            {
              "visible": true,
              "color": "#FF0000",
              "label": "Degraded",
              "value": 20,
              "yAxis": "left"
            },
            {
              "visible": true,
              "color": "#FF0000",
              "label": "Severe",
              "value": 25,
              "yAxis": "left"
            }
          ]
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":0,
      "y":5,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/EC2",
            "CPUUtilization",
            "AutoScalingGroupName",
            "${asg_name}"
          ]
        ],
        "period":60,
        "stat":"Average",
        "region":"${region}",
        "title":"Average EB CPU utilization",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":100
          }
        },
        "annotations": {
          "horizontal": [
            {
              "visible":true,
              "color":"#C00000",
              "label":"Scale up",
              "value":${eb_asg_scale-up},
              "fill":"above",
              "yAxis":"left"
            },
            {
              "visible":true,
              "color":"#00C000",
              "label":"Scale down",
              "value":${eb_asg_scale-down},
              "fill":"below",
              "yAxis":"left"
            }
          ]
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":8,
      "y":5,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/ELB",
            "HealthyHostCount",
            "LoadBalancerName",
            "${elb_name}"
          ]
        ],
        "period":60,
        "stat":"Maximum",
        "region":"${region}",
        "title":"Healthy host count",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":32
          }
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":16,
      "y":5,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/RDS",
            "CPUUtilization",
            "DBInstanceIdentifier",
            "${db_name}"
          ]
        ],
        "period":60,
        "stat":"Average",
        "region":"${region}",
        "title":"Database CPU utilization",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":100
          }
        },
        "annotations": {
          "horizontal": [
            {
              "visible":true,
              "color":"#C00000",
              "label":"Overloaded",
              "value":${db_cpu_alarm},
              "fill":"above",
              "yAxis":"left"
            }
          ]
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":0,
      "y":10,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/RDS",
            "FreeStorageSpace",
            "DBInstanceIdentifier",
            "${db_name}"
          ]
        ],
        "period":60,
        "stat":"Average",
        "region":"${region}",
        "title":"Database free storage space",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":${db_storage}
          }
        },
        "annotations": {
          "horizontal": [
            {
              "visible":true,
              "color":"#C00000",
              "label":"Overcommitted",
              "value":${db_storage_alarm},
              "fill":"below",
              "yAxis":"left"
            }
          ]
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":8,
      "y":10,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/RDS",
            "FreeableMemory",
            "DBInstanceIdentifier",
            "${db_name}"
          ]
        ],
        "period":60,
        "stat":"Average",
        "region":"${region}",
        "title":"Database freeable memory",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":${db_memory}
          }
        },
        "annotations": {
          "horizontal": [
            {
              "visible":true,
              "color":"#C00000",
              "label":"Overcommitted",
              "value":${db_memory_alarm},
              "fill":"below",
              "yAxis":"left"
            }
          ]
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":16,
      "y":10,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/ElastiCache",
            "CPUUtilization"
          ]
        ],
        "period":60,
        "stat":"Average",
        "region":"${region}",
        "title":"Redis CPU utilization",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":100
          }
        },
        "annotations": {
          "horizontal": [
            {
              "visible":true,
              "color":"#C00000",
              "label":"High",
              "value":${redis_cpu_alarm},
              "fill":"above",
              "yAxis":"left"
            }
          ]
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":0,
      "y":15,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/ElastiCache",
            "CurrConnections"
          ]
        ],
        "period":60,
        "stat":"Maximum",
        "region":"${region}",
        "title":"Redis Current Connections",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":100
          }
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":8,
      "y":15,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/ElastiCache",
            "Evictions"
          ]
        ],
        "period":60,
        "stat":"Average",
        "region":"${region}",
        "title":"Redis Evictions",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":100
          }
        },
        "legend": {
          "position": "hidden"
        }
      }
    },
    {
      "type":"metric",
      "x":16,
      "y":15,
      "width":8,
      "height":5,
      "properties":{
        "metrics":[
          [
            "AWS/ElastiCache",
            "SwapUsage"
          ]
        ],
        "period":60,
        "stat":"Average",
        "region":"${region}",
        "title":"Redis Swap Usage",
        "view":"timeSeries",
        "stacked":true,
        "yAxis":{
          "left":{
            "min":0,
            "max":60000000
          }
        },
        "annotations": {
          "horizontal": [
            {
              "visible":true,
              "color":"#C00000",
              "label":"High",
              "value":${redis_swap_alarm},
              "fill":"above",
              "yAxis":"left"
            }
          ]
        },
        "legend": {
          "position": "hidden"
        }
      }
    }
  ]
}
